<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>&quot;_&quot; would like to access your photos.</string>
	<key>NSCameraUsageDescription</key>
	<string>&quot;_&quot; would like to access your camera.</string>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>CLIENT_ID</key>
	<string>820018469170-uvqirvm9okmhc2skc7d8l8hk06j7l3jl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.820018469170-uvqirvm9okmhc2skc7d8l8hk06j7l3jl</string>
	<key>API_KEY</key>
	<string>AIzaSyDbpkPKb9U2gixeesweU3D3ZBd-nkAipwo</string>
	<key>GCM_SENDER_ID</key>
	<string>820018469170</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Tipton.Capstone</string>
	<key>PROJECT_ID</key>
	<string>capstone-4a87f</string>
	<key>STORAGE_BUCKET</key>
	<string>capstone-4a87f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:820018469170:ios:8ff3278de55d4cda59df2b</string>
</dict>
</plist>
